.dashboard-container {
  height: 89vh;
  @include center-center();
  color: $shadow-color;
  text-shadow: 1px 1px 1px $color-white;
  background-color: $color-white;

  a {
    text-decoration: none;
    color: $shadow-color;

    &:hover {
      cursor: pointer;
      color: $accent-color;
      text-decoration: underline;
    }
  }

  .widget-container {
    @include center-center();
    padding-top: 0;
    width: 100%;
    height: 90vh;
    flex-direction: row;
    flex-wrap: wrap;

    .widget-card {
      padding-top: 2%;
      text-align: center;
      height: 200px;
      width: 250px;
      flex-direction: row;
      border: 2px solid $color-dark;
      margin: 2%;
      -webkit-box-shadow: -2px 3px 8px 2px $color;
      box-shadow: -2px 3px 8px 2px $color;
      background-color: rgb(226, 242, 251);

      .widget-img {
        border-radius: 25px;
        justify-content: center;
        align-self: center;
      }

      .widget-name {
        justify-content: center;
        align-self: center;
        font-weight: bold;
        margin: 10px 0;
      }

      .widget-descritption {
        justify-content: center;
        align-self: center;
      }

      .widget-link {
        padding-top: 3%;
      }
    }
  }
}
