$color-white: whitesmoke;
$color-light: #e2eff4;
$color-med: #8a9dd2;
$color: #3154b0;
$color-dark: #1e3a81;
$comp-color: #927e4a;
$shadow-color: rgb(147, 147, 147);
$accent-color: #ff8fb5;

@mixin center-center {
  padding-top: 11vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin no-outline {
  outline: none;
}
